{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content %} 

<div class="row">
<div class="col-sm-4 mb-3 mb-sm-0">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">Total Users</h5>
        <p class="card-text">{{data[0]}}</p>
    </div>
    </div>
</div>
<div class="col-sm-4 mb-3 mb-sm-0">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Admin</h5>
        <p class="card-text">{{data[1]}}</p>
        </div>
    </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Users</h5>
        <p class="card-text">{{data[2]}}</p>
        </div>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Total Events</h5>
            <p class="card-text"></p>
        </div>
        </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Total Tickets</h5>
            <p class="card-text"></p>
            </div>
        </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Total Cost</h5>
            <p class="card-text"></p>
            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tickets Booked</h5>
                <p class="card-text"></p>
            </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Tickets on hold</h5>
                <p class="card-text"></p>
                </div>
            </div>
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Total Amount Collected</h5>
                <p class="card-text"></p>
                </div>
            </div>
            </div>
        </div>



{% endblock %}
