{% extends "base.html" %}
{% block title %} Events {% endblock %}

{% block content %} 

{% if user.is_authenticated %}
    {% if user.role == 'admin' %}
        <form action="/add_event">
            <button class="btn btn-primary">Add new event</button>
        </form>
    {% endif %}


<table class="table" style="margin: 20px; width: 90%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Venue</th>
            <th>Price</th>
            <th>Total tickets</th>
            <th>Book tickets</th>
        </tr>
    </thead>
    
    <tbody>
        {% for event in events %}
            <tr>
                <th><a href="/events/{{event.id}}/book">{{event.name}}</a></th>
                <th>{{event.date}}</th>
                <th>{{event.venue}}</th>
                <th>{{event.price}}</th>
                <th>{{event.total_tickets}}</th>
                <th>
                    <a class="btn btn-primary" href="/events/{{event.id}}/book">Book Now</a>
                </th>  
                <th>
                    {% if user.role == 'admin' %}
                        <a type="button" href="/edit_event/{{event.id}}"><i class="bi bi-pencil-fill" style="border: 2px solid black; padding: 2px;color:black;"></i></a>    
                        <button type="button" class="Close" onclick="deleteEvent('{{event.id}}')">&times;</button>
                    {% endif %}
                </th>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}
{% endblock %}