{% extends "base.html" %}
{% block title %} Users {% endblock %}

{% block content %} 

<form action="/register">
    <button class="btn btn-primary">Add new user</button>
</form>


<table class="table" style="margin: 20px; width: 90%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                    <a type="button" href="/edit_user/{{user.id}}"><i class="bi bi-pencil-fill" style="border: 2px solid black; padding: 2px;color:black;"></i></a>
                    <button type="button" class="Close" onclick="deleteUser('{{user.id}}')">&times;</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}